<div class="card text-center" style="width: 40rem; margin: 0 auto;">
  <div class="card-header">
    <h1>Pico y Placa</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>Conozca los horarios del pico y placa en Quito 2018</strong></h5>
    <p class="card-text">El Horario pico y placa en Quito se debe cumplir para evitar el tráfico dentro de la ciudad durante horas determinadas y dentro del perímetro comprendido.</p>
    <p>Es importante recordar que el pico y placa es una medida que regula el tránsito en el Distrito Metropolitano de Quito al prohibir que ciertos vehículos circulen en determinadas horas al día.</p>
  </div>
  <div class="card-body">
  	<h5 class="card-title"><strong>Hora pico y placa Quito</strong></h5>
  	<ul class="list-group list-group-flush">
	  <li class="list-group-item">7:00 a las 9:30 en la mañana</li>
	  <li class="list-group-item">16:00 a 19:30 en la tarde</li>
	</ul>
  </div>
  <dir class="card-body">
  	<table class="table">
	  <thead class="thead-dark">
	    <tr>
	      <th scope="col">Últimos Dígitos</th>
	      <th scope="col">Día</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <th scope="row">1 y 2</th>
	      <td>Lunes</td>
	    </tr>
	    <tr>
	      <th scope="row">2 y 4</th>
	      <td>Martes</td>
	    </tr>
	    <tr>
	      <th scope="row">5 y 6</th>
	      <td>Miercoles</td>
	    </tr>
	    <tr>
	      <th scope="row">7 y 8</th>
	      <td>Jueves</td>
	    </tr>
	    <tr>
	      <th scope="row">9 y 0</th>
	      <td>Viernes</td>
	    </tr>
	  </tbody>
	</table>
	<br/>
	<%=link_to  "Consultar Placa", new_validator_path, :class=> "btn btn-primary" %>
  </dir>
  <div class="card-footer text-muted">
  </div>
</div>